// --------- GENERAL STYLES ---------

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
	
}

body {
	background: #e7e7e7 url("../img/blendedBG.jpg") no-repeat center top;
	font-family: $font-stack;
	color: $main-color;
} // body

.wrapper {
	width: 900px;
	margin: 0 auto;
	position: relative;
	
} // wrapper















































