header {
	width: 100%;
	@include clearfix;

	a.nav-logo {
		display: inline-block;
		margin-top: 20px;
	}

	.google {
		float: right;	
		width: 150px;
		height: 50px;
		outline: 1px solid red;
		margin-top: 0px;
		@include clearfix;
			
		img {
			 float: left;
			 border: 1px solid red;
			 margin: 5px 0 0 5px;
		 }
	  
	  	div { 
		    width: 100px;
		    float: right;
		    
		    margin-top: 10px;
	    
		     h2 {
		     	text-transform: uppercase;
		     	line-height: 12px;
		       
		       &.google-heading {
		         font-size: 13px;
		       }
		       
		       &.compliant {
		         font-size: 16px;
		       }
		       
		       &.programming {
		         font-size: 12px;
		       }
	  		} // h2
	  	} // div
	} // google

	nav {
		
		@include clearfix;
		margin: 5px 0 14px 0;

		ul {
			float: right;		

			li {
				float: left;
				text-transform: uppercase;
				font-size: 13px;

				&.home-icon:before {
					content: url("../img/home-icon.png");
					border: 1px solid red;
					margin-right: 7px;
				}

				&.portfolio-icon:before {
					content: url("../img/portfolio-icon.png");
					border: 1px solid red;
					margin: 0 7px 0 14px;
				}

				&.contact-icon:before {
					content: url("../img/contact-icon.png");
					border: 1px solid red;
					margin: 0 18px 0 4px;
				}

				&.blog-icon:before {
					content: url("../img/blog-icon.png");
					border: 1px solid red;
					margin: 0 21px 0 7px;
				}

				a {
					text-decoration: none;

				} //a
			} //li
		} // ul
	} // nav

} // header