#home {

	.wrapper {

		.hero-section {
			background: url("../img/big-img.jpg");
			height: 450px;
			width: 100%;
			position: relative;
			@include clearfix;

			div {
				margin: 30px 0 0 25px;
				display: inline-block;

				h1 {
					color: white;
					font-size: 40px;
					font-style: italic;
					text-transform: capitalize;

					span {
						color: red;
						font-size: 30px;
						text-transform: uppercase;
						font-style: normal;
					}
				}//h1

				p {
					color: white;
					font-size: 14px;
				}
			} 

			.btn {
				@include clearfix;
			}    
		} //hero-section

		.slider-btns {
			width: 100%;
			text-align: center;
			margin: 20px auto;
		
			 ul {
			 	border: 1px solid red;

			 	li {
			 		display: inline;

			 		&:nth-child(2) {
			 			padding: 0 5px;
			 		}
			 		
			 		a {
			 			background: black;
			 		    height: 15px;
			 		    width: 15px;
			 		    border-radius: 10px;
			 		    
			 		    display: inline-block;

			 		    &.white-btn {
			 		    	background: white;
			 		    	box-shadow: inset 0 1px 3px #c1c0c1;
			 		    }

			 		    
			 		} // a
			 	} // li
			 } // ul

		} // slider-btns

	} //wrapper


	.black-section {
		background: #000 url("../img/blackBG.png") repeat-x;
		@include clearfix;
		height: 233px;

		.black-container {
			width: 802px;
			margin: 0 auto;

			.list-items {
				display: inline-block;
				@include clearfix;
				width: 590px;
				border: 1px solid red;
			} // list-items

			.solutions {
				float: right;
				width: 178px;
				border: 1px solid red;
				@include clearfix;
			}
		}

	} // black-section





















} //home